<h1>ASCII Art Result</h1>

<textarea rows="10" cols="80" readonly><%= @aa %></textarea>

<%= link_to 'Try again', aa_path %>

   _____                            _ _ _ 
  / ____|                          | | | |
 | (___  _   _  ___ ___ ___ ___ ___| | | |
  \___ \| | | |/ __/ __/ _ \ __/ __| | | |
  ____) | |_| | (__ (__  __\__ \__ \_|_|_|
 |_____/ \__,_|\___\___\___|___/___(_)_)_)
                                          