<h1>Available Routes</h1>

<table>
  <thead>
    <tr>
      <th>HTTP Verb</th>
      <th>Path</th>
      <th>Controller#Action</th>
    </tr>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route[:verb] %></td>
        <td><%= link_to route[:path], route[:path], target: "_blank" rescue "#" %></td>
        <td><%= "#{route[:controller]}##{route[:action]}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
</style>