<h1>Texts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.content %></td>
        <td>
          <%#%= link_to 'Show', text %>
          <%#%= link_to 'Edit', edit_text_path(text) %>
          <%#%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Text', new_text_path %>